body {
    padding-bottom: 20px;
    margin: 0;
    padding: 0;
    font-size: 14px;
    background-color: #efefef;
}

h3 {
    font-size: 28px;
    font-family: Calibri;
    font-weight:bold;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /*max-width: 280px;*/
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}
#services {
    list-style-type: none;
    padding-left: 0;
    /*border-bottom: solid 2px black;*/
}
    #services li {
       margin-bottom: 10px;
        /*font-weight: 600;*/
    }
.areaHeader {
    display:block;
    border: solid 3px black;
    text-align:center;
    padding-top: 2px;
    height: 32px;
    border-radius:25px;
    font-size: 18px;
    background-color: white;
    margin-bottom: 10px;
    margin-top: 50px;
}

section {
    margin-left: 20px;
    margin-right: 20px;
}
    #superspan {
        color: orange;
        font-weight:bold; 
        font-family: Boopee;
    }

.header-background {
    background: Url("../images/money.png") repeat-x;
    height: 148px;
    border-bottom: solid 2px black;
}

.title-image {
    background: Url("../images/MCMHeader.png") no-repeat;
    height: 148px;
    border-bottom: solid 2px black;
}

.siteTitle {
    font-size: 36px;
    padding-top: 24px;
}

.subTitle {
    font-size: 26px;
}

.menu-container {
    float: left;
    padding-left: 40px;
    margin-bottom: 20px;
}

.menu-container ul {
    float: left;
}

.menu-container ul li {
    list-style: none;
    float: left;
}

.menu-container ul:after {
    clear: both;
}

.menu-container ul li a {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    font-size: 16px;
    display: inline-block;
    height: 40px;
    color: #333;
}


.financial-image {
    border: solid 3px black;
    min-height: 320px;
    background-image: url("../images/financial.png");
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (max-width: 768px) {
    .siteTitle {
        font-size: 20px;
        padding-top: 18px;
        margin-left: 110px;
    }

    .subTitle {
        font-size: 18px;
        margin-left: 110px;
    }

    .financial-image {
        display: none;
    }
}

/* info and errors */  
.message-info {
    border: solid 1px;
    clear: both;
    padding: 10px 20px;
}

.message-error {
    clear: both;
    color: #e80c4d;
    font-size: 1.1em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.message-success {
    color: #7ac0da;
    font-size: 1.3em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.success {
    color: #7ac0da;
}

.error {
    color: #e80c4d;
}

/* styles for validation helpers */
.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

input[type="text"].input-validation-error,
input[type="password"].input-validation-error {
    border: solid 1px #e80c4d;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}
 
.editor-label
{
    vertical-align:top;
}
.contactForm label
 {
     width: 120px;
     display: inline-block;
 }
.contactForm .editor-field input[type=text]
{
    width: 250px;
}  
#referSample ul {
	padding-left: 25px;
}
#referSample li {
	list-style-type:none;
}
#contactPhone p
{
    padding-top: 2px;
    padding-bottom: 2px;
    margin: 0;
}
 #contactAddress
{
    margin-left: 104px;
}
 #contactAddress p
 {
     margin-top: 0;
 }
 
 textarea
{
    height: 140px;
    width: 580px;
}

fieldset
{
    border: 1px solid #000;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
}
fieldset legend
{
    display: inline;
}
.contactForm p
{
    vertical-align: top;
}
.noTopSpace
{
    padding-top: 0;
    margin-top: 0;
}
.noBottomSpace
{
    padding-bottom: 0;
    margin-bottom: 0;
}
button, input[type=submit], input[type=button]
{
    border: 1px solid #000;
}

.top-buffer {
    margin-top: 20px;
}

figure {
  float: left;
  margin: 6px 10px 10px 0;
  border: solid 1px black;
    width: 140px;
    height: 180px;
}

.memberships {
    margin-top: 40px;
}

.memberships a {
    padding-top: 15px;
    padding-right: 28px;
    display: inline-block;
    height: 60px;
}

#footer {
    margin-top: 40px;
}

.menu-container ul li a.active {
    background-color: #dedede;
}