@{
    ViewBag.Title = "About";
}

<div class="container">
    <div class="row">
        <div class="col-xs-12 about-column">
            <img src="~/images/RobertEMerwin.jpg" alt="Robert E. Merwin" align="left" /> 
                <p>                                 
                    Bob Merwin started his career in the financial services industry in 1969. The past 25 years has been focused on
                    retirement planning and investment portfolio management. He is a graduate of Winona State University in
                    Minnesota with a degree in business. He and his wife Judy have been married for over 50 years. They have
                    three children, eleven grandchildren and three great grandchildren.
                </p>
                
                <p>
                    In 1997, he founded Merwin Financial Services, Inc., which subsequently became Merwin Capital Management
                    LLC (MCM). The company is a member of the Phoenix Better Business Bureau with an A+ rating. He is licensed
                    with Series 65, and a licensed Life, Health, and Disability Insurance Agent (California license #0512046). For
                    the past 10 years, he is a Certified and active member of 
                    <a href="https://www.kingdomadvisors.com/choose-a-professional/advisors/11975/85254" target="_blank">Kingdom Advisors</a> (CKA®). 
                    Bob is an avid ASU and AZ Cardinals fan! Much of his “spare time” is spent meeting with men and investing in them 
                    on values for life.
                </p>
        </div>
    </div>


    <div class="row top-buffer">
        <div class="col-xs-12 about-column">
            <img src="~/images/JordanTwoogood.jpg" alt="Jordan K. Twogood" align="left" />
                <p>                 
                    Jordan Twogood joined Merwin Capital Management in October of 2013 as an investment research analyst
                    and portfolio manager. He has in-depth investment research knowledge and computer science skills. With a
                    Series 65 Investment Advisory license, his responsibilities include building client portfolios and making
                    recommendations for investment allocations. “Often clients do not understand the amount of risk they’re
                    currently taking and sitting down and educating them about risk and return is paramount.”
                </p>
                <p>
                    Jordan and his wife Vanessa are the proud parents of three lovely daughters. In his spare time, he enjoys
                    spending time with family, playing sports, and reading good investment books.
                </p>
        </div>
    </div>
    
    <div class="row top-buffer">
        <div class="col-xs-12 about-column">
            <img src="~/images/JudithMerwin.jpg" alt="Judith A. Merwin" align="left" />
                <p>                   
                    Judy Merwin has held a support role with the company since 1994 and serves as the office and financial administrator.
                    Bob and Judy have been married over 50 years!  
                </p>
        </div>
    </div>

</div>