@{
    ViewBag.Title = "Home";
}


<div class="row">
    <div class="col-xs-12 col-sm-7">
        @Html.Partial("_Introduction")
        @Html.Partial("_Services")
    </div>

    <div class="col-xs-5 financial-image">

    </div>

</div>
<div class="row">
    <div class="col-xs-7 col-sm-4 text-center">
        <a href="http://www.advisorclient.com" target="_blank" class="image-link" style="background: url(/images/building.jpg);">
            <span  class="image-link-banner" >
                <img src="~/images/ameritradeSmallLogo.png" alt="TD Ameritrade"/>
            </span>
        </a>
    </div>
    <div class="col-xs-7 col-sm-4 text-center">
        <a href="https://www.kingdomadvisors.com" target="_blank" class="image-link"  style="background: url(/images/small_ocean.jpg);">
            <span class="image-link-banner">
                <img src="~/images/ka-logo-195x35.png" alt="Kingdom Advisors" />
            </span>
        </a>
    </div>
    <div class="col-xs-7 col-sm-4 text-center">
        <a href="http://www.bbb.org/phoenix/business-reviews/financial-planning-consultants/merwin-capital-management-llc-in-scottsdale-az-31002189" target="_blank" class="image-link" style="background: url(/images/capital.jpg);">
            <span class="image-link-banner">
                <img src="~/images/BetterBusinessBureaurDark.jpg" alt="Better Business Bureau" />
                <span>Better Business Bureau</span>
            </span>
        </a>
    </div>
</div>

