@{
    ViewBag.Title = "About";
}

<div class="container">
    <div class="row">
        <div class="col-xs-12">
                <p>
                    <figure>
                        <img src="" alt="Robert E. Merwin" />
                    </figure>

                    Bob Merwin started his career in the financial services industry in 1969.  The past 25
                    years has been focused on retirement planning and investment portfolio management. He
                    is a graduate of Winona State University in Minnesota.  He is happily married to Judy
                    and they have eleven grandchildren and two great grandchildren.
                </p>
                
                <p>
                    In 1997, he founded Merwin Financial Services, Inc., which subsequently became
                    Merwin Capital Management LLC (MCM).  The company is a member of the Phoenix,
                    AZ Better Business Bureau with an A+ rating. He is licensed with Series 65, and is a
                    licensed Life, Health, and Disability Insurance Agent.  California license #0512046.
                    For the past 9 years, Bob is a Qualified and active member of <a href="https://www.kingdomadvisors.com/choose-a-professional/advisors/11975/85254" target="_blank">kingdom advisors</a>. he is
   an avid ASU and AZ Cardinals fan. much of his “spare time” is spent meeting with men
   investing in them on values for life.
                </p>

        </div>
    </div>


    <div class="row top-buffer">
        <div class="col-xs-12">
                <p>
                    <figure>
                        <img src="" alt="Jordan K. Twogood" />
                    </figure>
                    Jordan Twogood started in the financial services industry in 2012.  He joined Bob
                    Merwin and Merwin Capital Management in October of 2013.  He currently holds
                    licenses as a Series 65 Representative and a Life, Health, and Disability Insurance agent.
                    He feels a tremendous amount of responsibility when managing a client’s portfolio and
                    recommending investment allocations.  “Often times a client doesn’t understand the
                    amount of risk they’re currently taking and sitting down and educating them about risk
                    and return is paramount.”
                </p>
                <p>
                    Jordan is happily married to Vanessa.  They have two little girls, Moriah Hope and Carly
                    Joy.  In his spare time, Jordan enjoys spending time with family, playing sports, and
                    reading a good book.
                </p>
        </div>
    </div>
    
    <div class="row top-buffer">
        <div class="col-xs-12">
                <p>
                    <figure>
                        <img src="" alt="Judith A. Merwin" />
                    </figure>
                    Judy Merwin has held a support role with the company since 1994 and serves as office and financial administrator.
                    Bob and Judy have been married nearly 50 years.  
                </p>
        </div>
    </div>

</div>