@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-xs-5">
        @Html.Partial("_Introduction")
        @Html.Partial("_Services")
        @Html.Partial("_Contact")
    </div>

    <div class="col-xs-6 col-sm-offset-1 financial-image">

    </div>

    <div class="col-xs-6 col-sm-offset-1 memberships">

            <a href="http://www.advisorclient.com" target="_blank"><img src="~/images/ameritradeSmallLogo.png" alt="TD Ameritrade" /></a>

            <a href="https://www.kingdomadvisors.com" target="_blank"><img src="~/images/ka-logo-195x35.png" alt="Kingdom Advisors" /></a>

            <a href="http://www.bbb.org" target="_blank"><img src="~/images/BetterBusinessBureaurDark.PNG" alt="Better Business Bureau" style="width: 50px;" /></a>

    </div>

</div>

