@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-xs-5">
        @Html.Partial("_Introduction")
        @Html.Partial("_Services")
    </div>

    <div class="col-xs-7 financial-image">

    </div>

</div>
<div class="row">
    <div class="col-sm-4 text-center">
        <a href="http://www.advisorclient.com" target="_blank" style="background-image: url(/images/bench.png); height: 300px; width: 350px; display:inline-block;">
            <span style="width: 266px; height: 69px; padding-top: 16px;  background: white; opacity: .80; display:inline-block; color:black; margin-top: 10px; font-size: 18px;">
                <img src="~/images/ameritradeSmallLogo.png" alt="TD Ameritrade" />
            </span>
        </a>
    </div>
    <div class="col-sm-4 text-center">
        <a href="https://www.kingdomadvisors.com" target="_blank" style="background-image: url(/images/small_ocean.png); height: 300px; width: 350px; display:inline-block;">
            <span style="width: 266px; height: 69px; padding-top: 18px;  background: white; opacity: .80; display:inline-block; color:black; margin-top: 10px; font-size: 18px;">
                <img src="~/images/ka-logo-195x35.png" alt="Kingdom Advisors" />
            </span>
        </a>
    </div>
    <div class="col-sm-4 text-center">
        <a href="http://www.bbb.org/phoenix/business-reviews/financial-planning-consultants/merwin-capital-management-llc-in-scottsdale-az-31002189" target="_blank" style="background-image: url(/images/capital.png); height: 300px; width: 350px; display:inline-block;">
            <span style="width: 266px; height: 69px; padding-top: 10px; background: white; opacity: .80; display:inline-block; color:black; margin-top: 10px; font-size: 18px;">
                <img src="~/images/BetterBusinessBureaurDark.PNG" alt="Better Business Bureau" /><span style="margin-left: 10px;">Better Business Bureau</span>
            </span>
        </a>
    </div>
</div>

