
@{
    ViewBag.Title = "Mission";
}

<div class="row">
    <div class="col-sm-7">
        Our company exists to provide independent and objective investment and insurance advising. As an Independent Financial Advisor, my goal is to serve clients by working with independent mutual fund and insurance companies pursuing the client's best interest without bias.
    </div>
    <div class="col-sm-5">
        <img src="/images/nystockexchange.png" alt="New York Stock Exchange" style="border: 3px black solid;"/>
    </div>
</div>

