<header class="areaHeader" style="margin-top:0;">Introduction</header>
<section>
    Merwin Capital Management is a Registered Investment Advisory (RIA) firm,
    which does not charge commissions for assets under management.
    We are a fee only firm that our clients pay for managing their money.
</section>
