<header class="areaHeader">Contact Information</header>
<section class="contact-information">
    <address>
        4850 E. Desert Cove, Suite 150<br />
        Scottsdale, AZ  85254-5390
    </address>
    <div>Office: (602) 765-8887<br />
    Toll Free: (800) 290-4900<br />
    Fax: (602) 765-8889</div>
</section>
