
    <div class="row header-background">     
        <div class="col-xs-12 text-center title-image">
            <div class="siteTitle">Merwin Capital Management LLC</div>
            <div class="subTitle">A Registered Investement Advisory firm</div>
        </div>
    </div>

        <div class="row">
            <div class="col-xs-12 menu-container">
                <div>
                    @Html.Partial("_Menu")
                </div>
            </div>
        </div>
