
    <div class="row header-background">     
        <div class="col-xs-12 title-image" style="padding-left: 80px;">
            <div class="siteTitle">Merwin Capital Management LLC</div>
            <div class="subTitle">A Registered Investement Advisory firm</div>
            <div style="float:right; height: 176px; width: 300px; border:solid 1px black; margin-top: 30px; background-color: #9FABF8; opacity: .75; padding: 15px; font-weight: bold;">
                <h3 style="margin-top: 0;">Contact Information</h3>
                <p>4850 E. Desert Cove, Suite 150<br />
                Scottsdale, AZ 85254-5390</p>
                Office: (602) 765-8887<br />
                Toll Free: (800) 290-4900<br />
                Fax: (602) 765-8889
            </div>
        </div>
    </div>

        <div class="row">
            <div class="col-xs-12 menu-container">
                <div>
                    @Html.Partial("_Menu")
                </div>
            </div>
        </div>
