<section style="margin-top: 20px;">
    <header class="areaHeader" style="margin-top: -40px;">Introduction</header>
    <p style="padding-top: 20px; font-size: 15px;">
        Merwin Capital Management is a Registered Investment Advisory (RIA) firm,
        which does not charge commissions for assets under management.
        We are a fee only firm that our clients pay for managing their money.
    </p>
</section>
