<section>
    <header class="areaHeader">Products and Services</header>
    <ul id="services" style="padding-top: 20px;">
        <li>Stocks, bonds, ETFs, and mutual funds in an advisory account - fee only</li>
        <li>401k Rollovers</li>
        <li>Tax minimization strategies</li>
        <li>Retirement Planning</li>
        <li>Tactical Money Management</li>
        <li>Fixed and indexed annuities</li>
        <li>Life, disability, and long-term care insurance</li>
    </ul>
</section>