@{
    ViewBag.Title = "Privacy Statement";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<div>
    <p>
        When you visit this website, you are not required to provide any personal information on this website unless you choose to provide your name, mailing, or email address to request information after clicking on the "Contact Us" button.  It will not transfer your personal information to any external entity for commercial purposes.  If you provide an email address, you may receive email from us or be contacted by an affiliated representative to follow up on your interest or questions.
    </p>
    <p>
        Our web server will log your Internet Protocol (IP) address or the IP address of your proxy server.  It will not specifically track your domain name or your email address for any purpose.  We currently do not use any "cookie" technology on this website, although other sites accessible or redirected from this site may use "cookie" technology.  If any "cookie" technology is added to this site in the future, we will change this notice to explain how much "cookies" are used.
    </p>
    <p>
        This website is intended for the benefit of Arizona and California residents.
    </p>
</div>